.wrapper{
  max-width: 1280px;
  margin: 0 auto;
}
.mainCard{
  background-color: var(--sub-alt-color);
  border-radius: 1rem;
  padding: 14px;
  display: flex;
  justify-content: space-between;
}
.leftSide{
  width: 40%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.leftSide span{
  font-size: 30px;
}
.rightSide{
  width: 40%;
  font-size: 19px;
}
.listItem{
  display: flex;
  justify-content: space-between;
}

.resultsTable{
  margin-top: 100px;
}
.tableValue{
  padding: 10px
}
.tableHead{
  font-size: smaller;
}
.tableHead td{
  padding: 10px
}
.seeMoreButton{
  margin: 10px 0;
  font-size: 18px;
  width: 100%;
}
.noTestsSign{
  margin: 50px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}