.trigger{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 20px;
}
.list{
  margin-top: 10px;
  color: var(--text-color);
  font-size: 1.1rem;
}
li{
  list-style-type: none;
  padding: 5px 20px;
  margin-top: 3px;
  cursor: pointer;
  border-radius: 5px;
}
.listItemActive{
  color: var(--main-color)
}
li:hover{
  background-color: var(--text-color);
  color: var(--bg-color);
}