
.configContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  background-color: var(--sub-alt-color);
  padding: 0 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  margin-top: 180px;
}
.configButton {
  margin: 0.5rem;
  cursor: pointer;
}
.capitalizeSvg {
  width: 15px;
  height: 15px;
}
.languageContainer{
  display: flex;
  margin-bottom: 1.25rem;
}
.languageTitle{
  margin: 0 auto;
  cursor: pointer;
}