.container{
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
}

.icon{
  position: absolute;
  right: 8px;
  top: 7px;
  cursor: pointer;
}
.input{
  font-size: 1.2rem;
  padding-right: 30px;
  padding-left: 5px;
  margin-bottom: 10px;
}