.formContainer {
  display: flex;
  flex-direction: column;
}
.formContainer button {
  width: 170px;
  height: 40px;
  font-size: larger;
  border: solid 1px var(--sub-color);
}
.formControl{
  margin-bottom: 10px;
}
.error{
  color: rgb(255, 96, 96);
  margin-bottom: 10px;
}
.emailError{
  color: rgb(255, 96, 96)
}
