* {
  margin: 0;
  box-sizing: border-box;
  transition: background-color 0.4s ease;

}
:root {
  --bg-color: #081426;
  --main-color: #f17754;
  --caret-color: #ef6d49;
  --sub-color: #ffbc90;
  --sub-alt-color: #040e1d;
  --text-color: #ffe4bc;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--sub-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
#root {
  width: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;
}

body {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: var(--sub-alt-color);
  border: none;
  height: 30px;
  font-family: inherit;
  color: var(--text-color);
  border-radius: 5px;
  height: 30px
}

button {
  width: 120px;
  height: 30px;
  color: var(--text-color);
  background-color: var(--sub-alt-color);
  font-family: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
button:hover {
  color: var(--sub-alt-color);
  background-color: var(--text-color);
}
label {
  font-size: small;
  display: block;
  color: var(--sub-color);
}

.container {
  text-align: center;
  margin-top: 50px;
}

.errorCount {
  font-size: 18px;
}

.word {
  margin: 8px;
  font-size: 1.1em;
  line-height: 28px;
}
.word span {
  margin: 0 0.5px;
}
@keyframes smooth-blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.current-char {
  position: relative;
}

.current-char::before {
  content: '';
  position: absolute;
  left: -1.5px;
  top: 0;
  bottom: 0;
  width: 3px;
  height: 100%;
  background-color: var(--caret-color);
  animation: smooth-blink 1s infinite;
  animation-delay: 1.5s;
}
.caret-right {
  position: relative;
}
.caret-right::after {
  content: '';
  position: absolute;
  right: -1.5px;
  top: 0;
  bottom: 0;
  width: 3px;
  height: 100%;
  background-color: var(--caret-color);
  animation: smooth-blink 1s infinite;
  animation-delay: 1.5s;
}

.correct-char {
  color: var(--text-color);
}
.error-char {
  color: var(--error-color);
}
.error {
  border-bottom: 1.5px solid var(--error-color);
}
