.wrapper {
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--sub-color);
}
.logo{
  width: 60px;
}
.title{
  font-size: 23px;
  margin-right: 10px;
  margin-left: 5px;
  font-weight: bold;
}
.logoWrapper{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.headerButton {
  cursor: pointer;
  margin-left: 7px;
}
.profile{
  cursor: pointer;
  display: flex;
  align-items: center;
}
.headerButtons{
  display: flex;
  align-items: center;
}
.username{
  font-weight: bold;
}