.wrapper{
  width: 100%;
  color: var(--sub-color)
}
.results{
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  grid-template-areas: "mainstats chart"
                        "substats substats";

}
.chart{
  min-width: 200px;
  height: 200px;
}
.mainstats{
  grid-area: mainstats;
}
.mainstats p {
  font-size: 25px;
}
.mainstats span {
  color: var(--main-color);
  font-size: 50px;
  margin-bottom: 5px;
}
.substats{
  display: grid;
  grid-area: substats;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
}
.substatsItem{
  width: 200px;
}
.substats p{
  font-size: 18px;
}
.substats span{
  color: var(--main-color);
  font-size: 30px;
}
.mode p{
  font-size: 18px;
  color: var(--alt-color)
}
.mode p:first-child{
  font-size: 18px;
  color: var(--sub-color)
}
.restartSign{
  max-width: fit-content;
  margin: 50px auto;
}
